footer{
	background: #1c1c1c;
	min-height: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer .footer-logo img{
	height: 150px;
}

footer .foot-title{
	color: #FFF;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 15px;
	letter-spacing: 1.5px;
}

footer .foot-desc{
	padding-top: 15px;
	color: #babab6;
	width: 70%;
}

ul.foot-links{
	padding-top: 15px;
	list-style: none;
	padding-left: 0;
}

ul.foot-links li{
	padding-bottom: 10px;	
}

ul.foot-links li a{
	color: #babab6;
}

ul.foot-links li a:hover{
	color: #FFF;
}

ul.socmed{
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
	display: inline-flex;	
}

ul.socmed li a{
	color: #FFF;
	padding-right: 15px;
	font-size: 20px;
}

.bg-gallery,
.bg-foto,
.bg-bulletin{
	height: 350px;
	background-position: 0% 0px;
	background-size: cover;
	position: relative;
	display: table;
	width: 100%;
	color: #FFF;
	padding-left: 35px;
}

.bg-gallery{
	background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../img/background/bg-1.jpg');
	display: flex;
	justify-content: center;
	padding-left: 0;
	padding-top: 114px;
}

.bg-foto{
	background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../img/background/bg-2.jpg');
}

.bg-bulletin{
	background: url('../../img/background/bg-3.png');
}

.slick-slide {
	text-align: center !important;
}

.slick-slide::before {
	content: '' !important;
	display: inline-block !important;
	height: 100% !important;
	vertical-align: middle !important;
}

.slick-slide img {
	vertical-align: middle !important;
	display: inline-block !important;
}

.bg-content{
	width: 100%;
	margin: 0 auto;
}

.bg-content__highlight{
	font-family: "proxima-bold";
	letter-spacing: 2px;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

@media (max-width:767px){
	.bg-gallery{
		padding-top: 100px;
		padding-left: 35px;
	}
}

@media (min-width: 1200px) {
	footer .footer-logo{
		width: 160px;
	}
}