.navbar-transparent{
	background: transparent;
	border-bottom: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-transparent .navbar-nav li{
	padding-right: 15px;
	text-transform: uppercase;
	font-family: "proxima-regular";
	letter-spacing: 2px;
	background: none;
}

.navbar-transparent .navbar-nav li a{
	color: #FFF;
}

.navbar-transparent .navbar-nav li a:hover,
.navbar-transparent .navbar-nav li a:focus,
.navbar-transparent .navbar-nav li.active a,
.navbar-transparent .navbar-nav li.active a:hover,
.navbar-transparent .navbar-nav li.active a:focus{
	color: #fcb800;
	background: none;
}

.navbar-scroll{
	background: #1c1c1c !important;
	color: #FFF;
}

.navbar-default,
.navbar-toggle{
	border-color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background: transparent !important;
}

.navbar-default .navbar-brand{
	color: #FFF;
}

.navbar-default .navbar-brand:hover{
	color: #fcb800;
}

@media (max-width:767px){
	.navbar-transparent{
		background: #1c1c1c;
		color: #FFF;
	}
	.navbar-transparent{
		padding-top: 0;
		padding-bottom: 0;
	}
}