ul.pagination li a,
ul.pagination li a:hover{
	color: #333;
}

.pagination.paging{
	margin: 0;
}

.pagination.paging > li.active > a{
	background: #1F1A17;
	color: #FFF;
	border-color: #DDD;
}

.pagination.paging > li.active > a:hover{
	color: #FFF;
}

.pagination.paging > li > a{
	color: #1F1A17;
}
