.margin-top-20{
	margin-top: 20px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.no-margin-top{
	margin-top: 0;
}

.justify-center{
	display: flex;
	justify-content: center;
}