.cards-box{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	max-height: 370px;
	overflow: hidden;
}

.cards-image{
	height: 220px;
	overflow: hidden;
}

.cars-title{
	height: 92px;
	overflow: hidden;	
}

.cards-desc{
	height: 90px;
	overflow: hidden;
}