section.fullscreen-banner{
	height: 100vh;
	background-position: 0% 0px;
	background-image: url('../../img/banner.png');
	/*background: linear-gradient(270deg, rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../img/cover.jpeg');*/
	background-size: cover;
	position: relative;
	display: table;
	width: 100%;
}

section.bg-full{
	background-position: 0% 0px;
	background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../img/background/bg-4.jpg');
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 350px;
	padding-top: 90px;
}

.caption-banner{
	font-family: "proxima-bold";
	color: #FFF;
	text-transform: uppercase;
	border-left: 5px solid #d30808;
	padding-left: 35px;
	margin-left: 90px;
}

.caption-banner .title{
	font-size: 50px;
	line-height: 1.2;
	letter-spacing: 2px;
	width: 60%;
}

.caption-banner .subtitle{
	font-size: 20px;
	line-height: 2;
	letter-spacing: 2px;
}

ul.socmed-korps{
	list-style: none;
	padding-left: 0;
	padding-top: 20px;
	display: inline-flex;
}

ul.socmed-korps img{
	width: 35px;
}

ul.socmed-korps li{
	padding-right: 10px;
}

.head-korps{
	padding-left: 40px;
}

.head-korps img{
	width: 100%;
}

@media (max-width:767px){

	.head-korps img{
		width: 200px;
	}

}