section.fullscreen-banner{
	height: 80vh;
	background-position: 0% 0px;
	/*background: linear-gradient(270deg, rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../img/cover.jpeg');*/
	background-size: cover;
	position: relative;
	display: table;
	width: 100%;
	
}

.caption-banner{
	font-family: "proxima-bold";
	color: #FFF;
	text-transform: uppercase;
	border-left: 5px solid #d30808;
	padding-left: 35px;
	margin-left: 90px;
}

.caption-banner .title{
	font-size: 50px;
	line-height: 1.2;
	letter-spacing: 2px;	
	width: 60%;	
}

.caption-banner .subtitle{
	font-size: 20px;
	line-height: 2;
	letter-spacing: 2px;
}

.content{
	margin-top: 30px;
	font-size: 16px;
	/*text-align: justify;*/
	/*text-indent: 50px;*/
}

.main-image{
	padding-right: 0;
}

.list-satuan li{
	padding-bottom: 20px;
}

.myAffix {
	/*top: 100px;*/
	width: 100%;
}

.list-satuan li a{
	font-family: "proxima-bold";
	font-size: 16px;
}

.list-satuan li img{
	height: 70px;
	padding-right: 10px;
}

@media (min-width:1200px){
	.main-image img{
		height: 405px;
	}
}